<div class="header">
  <h1>Schedullo</h1>
  <p>A website for planning your workload efficiently.</p>

  <!--<div align = "left">-->
    <!--<app-add-task-button></app-add-task-button>-->
  <!--</div>-->
</div>
