<div class="dropdown">
  <button class="dropbtn">...</button>
  <div class="dropdown-content">
    <button type="submit" class="btn btn-outline-warning">edit</button>
    <button type="button" class="btn btn-outline-danger">delete</button>
  </div>
</div>
