<div class="wrapper">
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group" [dragula]='"bag-task1"' [dragulaModel]="tasks">
        <li *ngFor="let task of tasks" class="list-group-item">

          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{task.header}}</div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{task.title}}</h5>
              <p class="card-text">{{task.text}}</p>
              <div align="right">
                <app-drop-down-menu>...</app-drop-down-menu>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>


    <div class="col-sm-3" [dragula]='"bag-task1"' [dragulaModel]="droppedTasks">Drop Items here
        <ul class="list-group">
          <li *ngFor="let task of droppedTasks" class="list-group-item">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">{{task.header}}</div>
              <div class="card-body text-primary">
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.text}}</p>
                <div align="right">
                  <app-drop-down-menu>...</app-drop-down-menu>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>

