
#content
{
  font-size: .75em; /* 12/16 */
  width: 71.875%; /* 650/960 */
  max-width: 960px;
  text-align: left;
  margin: 0px auto; /*auto centers the container */
  padding: 3.84615384615385%; /* 25/650 */
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns
{
  -moz-column-width: 11.5em; /* Firefox */
  -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
  column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
  margin-top:0px;
}


.category {
  border: solid 1px black; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  /*cursor: pointer; !* Add a pointer cursor on mouse-over *!*/
}

.todo {background-color: #2196F3;} /* Blue */
.todo:hover {background: #0b7dda;}

.inprogress {background-color: #e7e7e7; color: black;} /* Gray */
.inprogress:hover {background: #ddd;}

.sentforapproval {background-color: #ff9800;} /* Orange */
.sentforapproval:hover {background: #e68a00;}

.revision {background-color: #f44336;} /* Red */
.revision:hover {background: #da190b;}

.accepted {background-color: #4CAF50;} /* Green */
.accepted:hover {background-color: #46a049;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}


