
<div class="container">
  <div class="row">
    <div id="content">
      <div class="columns">
        <ul class="list-group">
          <li class="cateogry todo" *ngFor="let column of columns">{{column}}</li>
        </ul>
      </div>



    </div>
  </div>
</div>


