<div>
<app-header></app-header>
</div>

<br>

<app-add-task-button></app-add-task-button>

<br>
<br>

<div>
<app-categories></app-categories>
</div>


<br>
<br>
<app-task></app-task>


<br>

<app-drag-drop-example></app-drag-drop-example>
